<!DOCTYPE html>
<html lang="en">
<%if(wake) { %>
<% include ../partials/headwake.ejs%>
<%} else {%>
    <% include ../partials/headsleep.ejs%>
<%}%>
    <body>
    <h1>Lucid Dreamer</h1>

    <nav>
        <div class='nav-wrapper'>
        <ul id='nav-mobile'>
        <li><a href='#'>Sleep Tracker</a></li>
        <li><a href='/dreamjournal'>Dream Journal</a></li>
        <li><a href='#'>Learn More</a></li>
        </ul>
    </nav>
      <p>Did you ever dream of being an astronaut, football player, sky-diving, winning a Nobel Price,composing a masterpiece,     solving problems, flying,leaping over skscrapers?
        Why waste your time sleeping when you can be in control of your dreams?
        Lucid dreaming is becoming aware of your dreams and shaping your dream world anyway you want</p>

    </body>
</html>