    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Get Lucid</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
   

    <% if (sleepStatus === 'w') {%>
    <link href="../wake.css" rel="stylesheet">

    <%} else {%>

    <link href="../sleep.css" rel="stylesheet">

    <%}%>

 </head>

    <body>
<% include ../partials/nav.ejs%>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col s1'></div>
                <div class='col s5'>
                    <h4>Purpose</h4>
                    <p>Lucid dreaming is becoming aware of your dreams and shaping your dream world anyway you want</p>
                    <br>
                    <br>
                    <h4 class='ol-header'>4 Tenants of Lucid Dreams</h4>
                    <ol>
                        <li>The dreamer is aware that they are dreaming</li><br>
                        <li>Objects disappear after waking</li><br>
                        <li>Physical laws need not apply in the dream</li><br>
                        <li>The dreamer has a clear memory of the waking world</li><br>
                    </ol>
                    </div>
                    <div class='col s5'>
                        <h4>Process</h4>
                        <p>It starts with thinking about dreaming in your waking life and being mindful in your dreaming life. By tracking your dreams (even when you don’t have any) you will begin to think consciously about your unconceious and unleash the power of dreams.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>