<!DOCTYPE html>
<html lang="en">

<% include ../partials/headwake.ejs%>


    <body>
    <h1>Get Lucid</h1>
    <h2>List of 10 most recent dreams</h2>

    <a href="/dreamjournal/new">Add New Dream</a>

    <br>

    <div class='wrapper'>
    <%for(let i=0; i<dreams.length; i++) { %>
    <div class='container'>
    <h1><a href='/dreamjournal/<%=dreams[i].id%>'> <%=dreams[i].title%></a></h1>
    <p><%=dreams[i].content%></p>
    <p>Tags: <%=dreams[i].tags%></p>
  

      </ul>
    </div>
    <%} %>
    </div>
    </body>
</html>