
<% include ../partials/headsleep.ejs%>


    <body>
    <div class='container center'>
    <h1>Get Lucid</h1>
    <h4>Why waste time sleeping when you can be dreaming</h4>

    <a class='waves-effect waves-light btn' href="/home/w">Waking</a>
    <a class='waves-effect waves-light btn' href="/home/s">Sleeping</a>

 
    </div>
  

    </body>
</html>