<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Get Lucid</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Get Lucid</h1>
    <h3>Why waste time sleeping when you can be dreaming</h3>

    <a href="/home"><button>Waking</button></a>
    <a href="/home"><button>Sleeping</button></a>

    
  

    </body>
</html>