    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Get Lucid</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
        <link rel="stylesheet" type="" href="../sleep.css">
        
    </head>
    <body>
    <div class='container center'>
    <h2 class='neon'>Get Lucid</h2>
    <br>
    <br>
    <h4 class='landing-text'>Why waste time sleeping when you can be dreaming</h4>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <a class='waves-effect waves-light btn landingButtons' href="/home/w">Waking</a>
    <a class='waves-effect waves-light btn landingButtons' href="/home/s">Sleeping</a>

    <div class='extender'></div>
    </div>
            <% include ../partials/footer.ejs%>

    </body>
</html>