    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Get Lucid</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
   

    <% if (sleepStatus === 'w') {%>
    <link href="/wake.css" rel="stylesheet">

    <%} else {%>

    <link href="../sleep.css" rel="stylesheet">

    <%}%>

 </head>

    <body>
<% include ../partials/nav.ejs%>
<div class='container'>
<br>
    <div class='more-content'>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RItiQgOzur0?start=46" frameborder="10" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2 class='ol-header'>4 Tenants of Lucid Dreams</h2>
    <ol>
        <li>The dreamer is aware that they are dreaming</li><br>
        <li>Objects disappear after waking</li><br>
        <li>Physical laws need not apply in the dream</li><br>
        <li>The dreamer has a clear memory of the waking world</li><br>
    </ol>
     <h2>Do you want to Fly or see the Earth Marble?</h2>
     <br>
     <iframe class='tab center' width="560" height="315" src="https://www.youtube.com/embed/Xvqq6FcSpu8?start=100" frameborder="10" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>

    </div>
    </div>
  


</body>
</html>