    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Get Lucid</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
   

    <% if (sleepStatus === 'w') {%>
    <link href="/wake.css" rel="stylesheet">

    <%} else {%>

    <link href="../sleep.css" rel="stylesheet">

    <%}%>

 </head>

    <body>
<% include ../partials/nav.ejs%>
<div class='container'>
    <div class='parallax'> 
     <h1>Do you want to battle Stormtroopers</h1>
     <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Xvqq6FcSpu8?t=35" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
     <h1>Do you want to Fly</h1>
     <br>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/Xvqq6FcSpu8?start=100" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <br>
     <h1>Do you want to go to the moon?</h1>
     <br>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/Xvqq6FcSpu8?start=100" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <br>

    </div>
    </div>
  


</body>
</html>