    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Get Lucid</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

       <link rel="stylesheet" type="text" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
       <link rel="stylesheet" type="" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
        

   

    <% if (sleepStatus === 'w') {%>
    <link href="/wake.css" rel="stylesheet">

    <%} else {%>

    <link href="/sleep.css" rel="stylesheet">

    <%}%>

 </head>
    <body>
 <% include ../partials/nav.ejs%>

    <h2 id='new-header'>Add A New Dream</h2>
    <div class='container'>

        <form action='/dreamjournal/<%=sleepStatus%>' method='POST'>
        <div class='form-group'> 
            <span>Title</span>
            <input class='form-control col-6' type="text" name="title">
        </div>
        <br>
        <div class='form-group'>
            <span>Content</span>
            <textarea class='form-control' type="textarea" name="content"></textarea>
        </div>
        <br>
        <br>
        <div class='form-group'>
            <span>Tags</span>
            <input class='form-control' type="text" name="tags">
            <small id='tagsHelp' class='form-text text-muted'>Add dream tags separated by commas</small>
        </div>
        <br>
        <br>
        <button id='submitBtn' class='btn' type="submit">Add New Dream</button>
        <a class='btn' href='/dreamjournal/<%=sleepStatus%>'>Go Back</a>
        <br>
    </form>
        <br>



    </div>
        <% include ../partials/footer.ejs%>

    </body>
</html>