/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
 body, html { 
    background-image: linear-gradient(#3d9276, #eeee72);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
} 

nav {
    background-color: black;
    font-family: 'Permanent Marker';
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-family: 'Permanent Marker';
    text-align: center;
}
h4 {
    text-align: center;
}

/* CARDS */

.card {
    margin-top: 20px;
    background: radial-gradient(rgba(238, 189, 114, 1), rgba(238, 189, 114, .7));
    border-radius: 10px;
}

.two-btns {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.card-title>a {
    color: rgb(65, 75, 189);
}

.card-columns {
    margin: 20px;
}

/* BUTTONS */

#submitBtn {
    align-self: center;
}

.btn {
    border-radius: 7px;
}

.btn:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}

.back {
    position: absolute;
    left: 75%;
}

/* FORM/INPUT*/

span {
    font-weight: bold;
}

.form-group {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

input {
    color: grey;
}

input:focus {
    color: black;
}

textarea {
    vertical-align: middle;
    height: 5em;
    margin-left: 20px;
    border: none;
    width: 100%;
    max-width: 70%;
    max-height: 200px;
    border-bottom: 1px solid black;
}

#new-header {
    text-align: center;
}

#delete-btn {
    width: 100%;
}

.error {
    color: rgb(209, 66, 66);
    font-weight: bold;
}

ol {
    text-align: center;
}
li {
    list-style-position: inside;
    text-align: justify;
}
.ol-header {
    text-align: center;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Get Lucid</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">


<% if (sleepStatus === 'w') {%>
<link href="/wake.css" rel="stylesheet">

<%} else {%>

<link href="../sleep.css" rel="stylesheet">

<%}%>

</head>

<body>
<% include ../partials/nav.ejs%>
<div class='container'>
<div class='parallax'> 
 <h1>Do you want to battle Stormtroopers</h1>
 <br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Xvqq6FcSpu8?t=35" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
 <h1>Do you want to Fly</h1>
 <br>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/Xvqq6FcSpu8?start=100" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <br>
 <h1>Do you want to go to the moon?</h1>
 <br>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/Xvqq6FcSpu8?start=100?t=127" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <br>

</div>
</div>



</body>
</html>