/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body {
    background-image: linear-gradient(#6e2e80, #1b1f38);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: black;
    font-family: 'Permanent Marker';
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-family: 'Permanent Marker';
    text-align: center;
}

/* CARDS */

.card {
    margin-top: 20px;
    background: radial-gradient(rgba(238, 189, 114, 1), rgba(238, 189, 114, .7));
    border-radius: 10px;
}

.two-btns {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.card-title>a {
    color: rgb(65, 75, 189);
}

.card-columns {
    margin: 20px;
}

/* BUTTONS */

#submitBtn {
    align-self: center;
}

.btn {
    border-radius: 7px;
    background-color: #1e5752; 
    color: #ea6390;
}

.btn:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}

.back {
    position: absolute;
    left: 75%;
}

/* FORM/INPUT*/

.edit-form {
    margin: 0 auto;
    background-color: rgba(238, 189, 114, 1);
    width: 100%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
}


textarea {
    vertical-align: bottom;
    height: 5em;
}

label {
    padding: 1px 10px;
    ;
    color: black;
    border-radius: 10px;
    font-family: cursive;
    font-size: 22px;
    display: inline-block;
    width: 90px;
    text-align: right;
}

/*Single Items*/

#new-header {
    text-align: center;
}
#delete-btn {
    width: 100%;
}