@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');



body {
    background-image: linear-gradient(#6e2e80, #1b1f38);
    background-repeat: no-repeat;
}

h1 {
    color: #ea6390;
    text-shadow: 1px 0 #eebd72;
    font-family: 'Oleo Script Swash Caps', cursive;
}

h4 {
    color: #ea6390;
    text-shadow: 1px 0 #eebd72;
    font-family: 'Oleo Script Swash Caps', cursive;

}

.btn {
    background-color: #1e5752; 
    color: #ea6390;
    border-radius: 10px;
    margin: 50px;
}