/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
html {
    background-image: linear-gradient(#6e2e80, #1b1f38);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    font-family: 'PT sans';
    color: white;
}

nav {
    background-color: black;
    font-family: 'Permanent Marker';
    font-size: 50px;
    font-weight: bold;
}

h2, h3, h4 {
    font-family: 'Permanent Marker';
    text-align: center;
}

h5, h6 {
    font-family: 'PT Sans';
    text-align: center;
}

/* CARDS */

.card {
    margin: 20px auto;
    background-image: url('/darkness.png');
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: center;
}

.card-text {
    font-size: 18px;
    font-weight: bold;
}

.two-btns {
    display: flex;
    justify-content: space-around;
}

.card-title>a {
    color: rgb(65, 75, 189);
}

.card-columns {
    margin: 20px;
}

.card-text {
    opacity: 1;
    z-index: -1;
}

/* BUTTONS */

#submitBtn {
    align-self: center;
}

.btn {
    background-color: rgb(12, 105, 90);
    border-radius: 7px;
    color: #ea6390;
}

.btn:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}

.back {
    position: absolute;
    left: 75%;
}

/* FORM/INPUT*/

span {
    font-weight: bold;
}

.form-group {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

input {
    color: grey;
}

input:focus {
    color: white;
}

textarea {
    vertical-align: middle;
    height: 5em;
    margin-left: 20px;
    border: none;
    width: 100%;
    max-width: 70%;
    max-height: 200px;
    border-bottom: 1px solid black;
    /* color: white; */
}

#new-header {
    text-align: center;
}

#delete-btn {
    width: 100%;
}

.error {
    color: rgb(209, 66, 66);
    font-weight: bold;
    text-align: center;
}

li {
    list-style-position: inside;
    font-size: 20px;
    text-align: center;
}

.username {
    font-size: 16px;
    margin-right: 10px;
}

.more-content {
    text-align: center;
}

.neon {
    margin-top: 100px;
    font-size: 55px;
}

.landing-text {
    font-family: 'Permanent Marker';
    font-size: 30px;
}

.extender {
    height: 200px;
}

.landingButtons {
    margin: 50px;
}
