/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

 html { 
    background-image: linear-gradient(#6e2e80, #1b1f38);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    font-family: 'PT sans';
    color: white;
} 

nav {
    background-color: black;
    font-family: 'Permanent Marker';
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-family: 'Permanent Marker';
    text-align: center;
}
h4 {
    text-align: center;
}

/* CARDS */

.card {
    margin-top: 20px;
    background-image: url('/darkness.png');
    background-blend-mode: multiply;
    /* background: radial-gradient(rgba(238, 189, 114, 1), rgba(238, 189, 114, .7)); */
    border-radius: 10px;
    
}

.two-btns {
    border: .5px solid gray;
    padding: 2px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card-title>a {
    color: rgb(65, 75, 189);
}

.card-columns {
    margin: 20px;
}

.card-text {
    opacity: 1;
    z-index: -1;
}

/* BUTTONS */

#submitBtn {
    align-self: center;
}

.btn {
    background-color: rgb(12, 105, 90);
    border-radius: 7px;
    color: #ea6390;
}

.btn:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}

.back {
    position: absolute;
    left: 75%;
}

/* FORM/INPUT*/

span {
    font-weight: bold;
}

.form-group {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

input {
    color: grey;
}

input:focus {
    color: black;
}

textarea {
    vertical-align: middle;
    height: 5em;
    margin-left: 20px;
    border: none;
    width: 100%;
    max-width: 70%;
    max-height: 200px;
    border-bottom: 1px solid black;
}

#new-header {
    text-align: center;
}

#delete-btn {
    width: 100%;
}

.error {
    color: rgb(209, 66, 66);
    font-weight: bold;
    text-align: center;
}

ol>li {
    margin-left: -20px;
    list-style-position: inside;
    text-align: left;
}
.ol-header {
    text-align: center;
    margin-left: -20px;
}

.username {
    font-size: 16px;
    margin-right: 10px;
}