@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


body {
    background-image: linear-gradient(#3d9276, #eeee72);
    background-repeat: no-repeat;
}

nav {
    background-color: black;
}

/* h1 {
    font-family: cursive;
} */