/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
html {
    background-image: linear-gradient(#3d9276, #eeee72);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    font-family: 'PT sans';
}

nav {
    padding-left: 5px;
    background-color: black;
    font-family: 'Permanent Marker';
    font-weight: bold;
}

h2, h3, h4 {
    font-family: 'Permanent Marker';
    text-align: center;
}

h5, h6 {
    font-family: 'PT Sans';
    text-align: center;
}

/* CARDS */

.card {
    margin: 20px auto;
    /* background-image: url('/weather.png'); */
    background-color: rgb(165, 191, 238);
    border-radius: 10px;
    color: black;
    padding: 5px;
    text-align: center;
}

.card-text {
    font-size: 18px;
    font-weight: bold;
}

.two-btns {
    display: flex;
    justify-content: space-around;
}

/* BUTTONS */

#submitBtn {
    align-self: center;
}

.btn {
    border-radius: 7px;
    background-color: rgb(133, 158, 158);
    color: black;
}

.btn:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}

.back {
    position: absolute;
    left: 75%;
}

/* FORM/INPUT*/

span {
    font-weight: bold;
}

.form-group {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

input {
    color: grey;
}

input:focus {
    color: black;
}

textarea {
    vertical-align: middle;
    height: 5em;
    margin-left: 20px;
    border: none;
    width: 100%;
    max-width: 70%;
    max-height: 200px;
    border-bottom: 1px solid black;
}

#new-header {
    text-align: center;
}

#delete-btn {
    width: 100%;
}

.error {
    color: rgb(209, 66, 66);
    font-weight: bold;
    text-align: center;
}

li {
    list-style-position: inside;
    font-size: 20px;
    text-align: center;
}

.username {
    font-size: 16px;
    margin-right: 10px;
}

.more-content {
    text-align: center;
}

/* Footer */

footer {
    /* margin-top: -50px; */
    /* height: 50px; */
    width: 100%;
}
/* Media Queries */

@media only screen and (max-width: 660px) {
    nav {
        padding-left: 0px !important;
        padding-right: 0px;
        /* height: 100px !important; */
    }
}